.homeImage {
  transition: transform 0.2s; /* Animation */

  /* margin-top: 2%; */
}

.homeImage:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.picContainer {
  position: relative;
}
.picText {
  position: absolute;
  bottom: 0.5%;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.pic:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pic {
  -webkit-filter: brightness(100%);
}

.viewListings {
  background-color: transparent;
  color: black;
  border: solid 1px black;
  transition: 0.3s;
}

.viewListings:hover {
  background-color: #16d5f2;
  color: white;
}

.peopleHelping {
  background-image: url("https://b2cdata.marketing.moveaws.com/thats-who-we-r/images/ribbon.jpg");
  height: 600px;
  position: relative;
  /* width: "100%"; */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.picText {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  bottom: 10%;
  /* left: -1%; */
}

.links {
  margin-top: 5%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.listingContainer:hover {
  cursor: pointer;
}

.closeModal:hover {
  cursor: pointer;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
#test {
  display: block;
}
.Collapsible {
  background-color: white;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #17a2b8;
  color: white;
}
.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}
@media (max-width: 640px) {
  #test {
    display: none;
  }
}
