.homeImage {
  transition: transform 0.2s; /* Animation */

  /* margin-top: 2%; */
}

.homeImage:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.picContainer {
  position: relative;
}
.picText {
  position: absolute;
  bottom: 0.5%;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.pic:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pic {
  -webkit-filter: brightness(100%);
}

.viewListings {
  background-color: transparent;
  color: black;
  border: solid 1px black;
  transition: 0.3s;
}

.viewListings:hover {
  background-color: #16d5f2;
  color: white;
}

.peopleHelping {
  background-image: url("https://b2cdata.marketing.moveaws.com/thats-who-we-r/images/ribbon.jpg");
  height: 600px;
  position: relative;
  /* width: "100%"; */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.picText {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  bottom: 10%;
  /* left: -1%; */
}

.links {
  margin-top: 5%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.listingContainer:hover {
  cursor: pointer;
}
