.App {
  text-align: center;
  /* background-color: #282c34; */
  height: auto;
  width: 100%;
  padding-bottom: 2%;
}

.headerImage {
  background-image: url("https://blog.ringadoctor.com/wp-content/uploads/2017/10/island-paradise.jpg");
  height: 500px;
  width: "100%";
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
